<div>
  <header>
    <h3>{{title}}</h3>
  </header>
  <main>
    <div>
      <div class="contacts-list">
        <div 
          class="contact-item" 
          *ngFor="let contact of contacts"
          [class.selected]="contact == selectedContact" 
          (click)="onContactSelected(contact)"
          >
          <p>{{contact.name}}</p>
        </div>
      </div>
      <app-add-contact (addContact)="onContactAdded($event)"></app-add-contact>
    </div>
    <app-contact-details 
      *ngIf="selectedContact" 
      [contact]="selectedContact" 
      (nameChange)="onNameChange($event)"
      ></app-contact-details>
  </main>
</div>