header {
    background-color: #3f3e3e;
    padding: 20px;
    color: white;
}

main {
    display: flex;
}

.contact-item {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    background-color: #3b37fd;
    color: white;
}